<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактироание юзера</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${users.getId()})}" th:object="${users}">
  <label for="name">Enter name:</label>
  <input type="text" th:field="*{name}" id="name"/>

  <label for="LastName">Enter LastName:</label>
  <input type="text" th:field="*{lastName}" id="LastName"/>

  <label for="BYear">Enter BYear/Год рождения:</label>
  <input type="number" min="0" step="1" th:field="*{bYear}" id="BYear"/>
  <br/>
  <input type="submit" value="Update!"/>
</form>
</body>
</html>