<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все юзеры</title>
</head>
<body>

<div>
    <h2>Все пользователи:</h2>
    <table>
        <thead>
        <tr>
            <th>Номер</th>
            <th>Name</th>
            <th>Фамилия</th>
            <th>BYear/Год рождения</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.bYear}"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>